// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 20px;
}
div {
  padding: 25px;
  border-left: 10px solid #E6E6E6;
  margin: 5px;
}

.coach {
  background-color: #fcff80d1;
}

a {
  padding: 10px;
  text-decoration: none;
}
